DB_HOST=db
DB_PORT=3308
DB_USER=root
DB_PASS=root
DB_NAME=expense_control
PORT=4000
# mail
MAIL_HOST=smtp.mailtrap.io
MAIL_USER=bb64a77b50b265
MAIL_PASSWORD=
MAIL_FROM=noreply@example.com

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}

# PORT=8888
SECRET_KEY=workhard
NODE_ENV=development

#Docker

MYSQL_HOST=mysql

MYSQL_TCP_PORT=${DB_PORT}
MYSQL_ROOT_PASSWORD={DB_PASS}
MYSQL_DATABASE={DB_NAME}
MYSQL_PORT=${DB_PORT}

MYSQL_ROOT_PASSWORD={DB_PASS}
PMA_HOST={MYSQL_HOST}
PMA_PORT=${DB_PORT}