DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=expense_control

# mail
MAIL_HOST=smtp.mailtrap.io
MAIL_USER=bb64a77b50b265
MAIL_PASSWORD=
MAIL_FROM=noreply@example.com

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}