<p>Hola {{ name }},</p>
<p>Porfavor digite el siguiente código en su app para continuar el proceso de recuperación de la contraseña</p>
<p>
    <h3>{{ code }}</h3>
</p>

<p> Si usted no solicitó  recuperación de la contraseña, puede ignorar esto.</p>
